# EditorConfig — https://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4
{% if project.type in ('cli-python', 'library-python', 'backend-frontend', 'backend-frontend-tray', 'data-ml') %}

[*.py]
indent_size = 4
max_line_length = 100
{% endif %}
{% if project.type in ('cli-rust', 'library-rust') %}

[*.rs]
indent_size = 4
max_line_length = 100
{% endif %}
{% if project.type in ('cli-go',) %}

[*.go]
indent_style = tab
indent_size = 4
{% endif %}
{% if project.type in ('cli-c', 'library-c', 'embedded-hardware') %}

[*.{c,h,cpp,hpp}]
indent_size = 4
{% endif %}
{% if project.type in ('web-frontend', 'fullstack-js', 'browser-extension', 'monorepo') %}

[*.{js,ts,jsx,tsx,css,scss,html}]
indent_size = 2

[*.json]
indent_size = 2
{% endif %}
{% if project.type == 'dotnet-app' %}

[*.cs]
indent_size = 4

[*.csproj]
indent_size = 2
{% endif %}
{% if project.type == 'fpga-rtl' %}

[*.{vhd,vhdl}]
indent_size = 2

[*.{v,sv}]
indent_size = 2

[*.{xdc,sdc,tcl}]
indent_size = 2
{% endif %}
{% if project.type in ('yocto-bsp',) %}

[*.{bb,bbappend,bbclass,conf}]
indent_size = 4

[*.{dts,dtsi}]
indent_size = 4
{% endif %}
{% if project.type in ('research-paper',) %}

[*.{tex,bib}]
indent_size = 2
{% endif %}
{% if project.type in ('devops-iac',) %}

[*.{tf,hcl,tfvars}]
indent_size = 2
{% endif %}

[*.{yml,yaml}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false

[Makefile]
indent_style = tab

[*.{cmd,bat}]
end_of_line = crlf

[*.{ps1,psm1}]
end_of_line = crlf
