"""{{ project.name }} CLI entrypoint."""

import sys


def main() -> int:
    """Main CLI entrypoint. Not yet implemented."""
    print("{{ project.name }}: not yet implemented")
    return 0


if __name__ == "__main__":
    sys.exit(main())
