site_name: {{ project.name }}
site_description: {{ project.description or project.name }}
repo_url: https://github.com/{{ project.name }}
edit_uri: edit/main/docs/

docs_dir: docs/site

theme:
  name: material
  palette:
    - scheme: default
      primary: deep purple
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - scheme: slate
      primary: deep purple
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  features:
    - navigation.sections
    - navigation.expand
    - content.code.copy
    - search.suggest
    - navigation.tabs

nav:
  - Home: index.md

markdown_extensions:
  - tables
  - admonition
  - pymdownx.highlight
  - pymdownx.superfences
  - toc:
      permalink: true
